<% action = (params[:controller] == "sessions" ? session_url :
							(user.persisted? ? user_url(user) : users_url)) %>
<% method = (user.persisted? ? "put" : "post") %>
<% message = (user.persisted? ? "Update user" : "Create user") %>
<hr>
<form action="<%= action %>" method="post">
  <input
     name="_method"
     type="hidden"
     value="<%= method %>">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

	<div class="form-group row container">
		<div class="input-group col-xs-4">
		  <span class="input-group-addon">Username</span>
		  <input
		     id="user_username"
		     name="user[username]"
		     type="text"
				 class="form-control">
		</div>
  </div>

	<div class="form-group row container">
		<div class="input-group col-xs-4">
		  <span class="input-group-addon">Password</span>
		  <input
		     id="user_password"
		     name="user[password]"
		     type="password"
				 class="form-control">
		</div>
  </div>

  <input class="btn btn-success" type="submit" value="<%= message %>">
</form>
