/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.navvybtn {
	@extend .btn;
	@extend .navbar-btn;
}

.navvybtn-r {
	@extend .navvybtn;
	@extend .navbar-right;
}

.navvybtn-l {
	@extend .navvybtn;
	@extend .navbar-left;
}

.carousel-inner > .item > img {
	margin: 0 auto;
}

.nav .active {
	background: papayawhip;
}

.affix {
	position: fixed;
  top: 125px;
	width: 22%;
}

.affix-top {
	position: relative;
  top: 30px;
}

