<!DOCTYPE html>
<html>
  <head>
    <title>NewAuthDemo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	</head>
	<body data-spy="scroll" data-target="#home-sidebar" >

		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav" style="width:100%">
						<div class="row">
							<%= link_to "Home", "/home", class: "navvybtn-l btn-primary"%>
							<%= link_to "Contact", "/contact", class: "navvybtn-l btn-primary"%>
							<%= link_to "About", "/about", class: "navvybtn-l btn-primary"%>

					    <% if signed_in? %>
						    <li>
									<%=button_to "Sign Out", session_url, :method => :delete,
										:class => "navvybtn-r btn-danger" %>
								</li>
					      <li class="navbar-text navbar-left">
									Signed in as: <%= current_user.username %>
								</li>
					    <% else %>
								<%= link_to "Sign Up", new_user_url, class: "navvybtn-r btn-warning" %>
								<%= link_to "Sign In", new_session_url,	class: "navvybtn-r btn-success"%>
					    <% end %>



						</div>
					</ul>
				</div>
			</div>
		</nav>

    <% if flash[:errors] %>
    <ul style="color:red;text-shadow: 1px 1px 1px black;">
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
    <br>
    <% end %>

		<div class="container text-center">
	    <%= yield %>
		</div>

  </body>
</html>
